@font-face {
  font-family: "NotoMont";
  src: url("https://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcoWiMMZ7xLd792ULpGE4W_Y.woff2")format("truetype");
  font-style: normal;
  font-weight: 700;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'NotoMont';
  src: url("https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2")format("truetype"); 
  font-style: normal;
  font-weight: 400;
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: "NotoMont";
  src: url("https://fonts.gstatic.com/ea/notosansjp/v5/NotoSansJP-Regular.woff2")format("truetype");
  unicode-range: U+3000-9FFF, U+ff??; /* Japanese glyphs */
}

body{
  font-family:"NotoMont";
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

:root {
  --h: 33;
  --s: 90%;
  --l: 90%;
  --headers-color: #0b345b;
}
figure{
  margin:0;
}
a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-height: 100vh; 
}

#app {  
  margin: 0 auto;
}
ul,ol{
  list-style-type:none;
}

a:visited {
  color: black;
  display: inline-block;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
